$primary: #4B6BFB;
$body-bg: #18191A;
$body-color: #fff;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #343a40;

@import 'bootstrap/dist/css/bootstrap.min.css';